.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.stockImages {
  max-width: 50%;
}

.dropdown1 {
  background-color: lightgrey;
}

.dropdown2 {
  
}

.dropdown3 {
  background-color: lightgrey;
}

th {
  cursor: pointer;
}

td {
  text-align: center;
  vertical-align: middle;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

   .testTitle{
      font-size: 50px;
   }

.messages {
    height:300px;
    overflow-y: scroll;
    
    word-break: keep-all;
}

.chatHolder {
    word-break: keep-all;
}

.chatBox.container {
    max-width: 100%;
}

.navbar.is-primary {
    background-color:#209cee;
}

h1.title {
    color:white;
}

.button.is-primary {
     background-color:#209cee;
}
